{% extends 'main/layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Main Page</h1>
        <p>This site is a small trainig project for studying the opportunities of Django framework. It's like a blog with news, where each visitor is allowed to add, edit and delete the articles. Just try it!</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">{% filter upper %}To the Page About Me{% endfilter %}</button></a>
    </div>

{% endblock %}
