{% extends 'main/layout.html' %}

{% block title %}Adding new article{% endblock %}

{% block content %}
    <div class="features">
        <h1>Add or edit the article</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.announcement }}<br>
            {{ form.text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Add/edit</button>
        </form>
    </div>
{% endblock %}